<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">

	<title>ASCAD44</title>
</head>
<body>
	<header >
		<img src = "/img/logo_Ascad-removebg-preview 1.png" alt ="logo ASCAD44 tout pour vous faciliter la vie">
		<button id = "dyslexie">Dyslexique</button>
	</header>

	<main>
		
		<%- include(template) -%>
	</main>
	
	<footer>
		
	</footer>
	<script language="javascript" src="/javascript/script.js"></script>
</body>
</html>