/****************************************************************
************************ FONT FACE ******************************
****************************************************************/


@font-face {
    font-family: "Kalam";
    src: url("/fonts/Kalam-Regular.ttf"), format("ttf");
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("/fonts/OpenDyslexic-Regular.woff"), format("woff");
};


/****************************************************************
********************** STYLE GENERAL ****************************
****************************************************************/
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    padding: 0;
  }
  
  body {
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Kalam', cursive;
    position: relative;
  }


/*****************************************************************
******************* AFFICHAGE DYSLEXIE****************************
*****************************************************************/
.dyslexie {
    font-family: "OpenDyslexic", sans-serif;
  }

/*****************************************************************
************************  HEADER *********************************
*****************************************************************/

header {
    background: linear-gradient(to bottom, rgba(136,198,254, 1), rgba(89,173,251, 0.2 ));
}